@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --tit : 'Titillium Web', sans-serif;
    --white:#ffffff;
    --lightblue:#17c2a4;
    
}

.container{
    max-width: 1100px;
    margin: auto;
}

.btn{
    display: block;
    margin: auto;
    font: 600 18px var(--tit);
    letter-spacing: 0px;
    line-height: 26px;
    color:var(--white);
    padding: 30px 80px;
    border: none;
    border-radius: 4px;
}




/* header css start */


header{
    background-color: #87509c;
}


header nav ul{
    float: right;
    padding-top: 5px;
}

header nav ul li{
    display: inline;
}

header nav ul li a{
    font: 400 16px var(--tit);
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 25px;
    padding: 10px 15px;

}

header nav{
    padding-top: 55px;
}


header nav .active, header nav ul li a:hover{
    background-color: #643a79;
    border-radius: 4px;

}

.header-body h1{
    font: bold 42px var(--tit);
    line-height: 49px;
    color: #f7f3ea;
    text-align: center;
    margin-top: 150px;
}

.header-body{
    padding-bottom: 145px;
}

.header-body button{
    background-color: #eb7d4b;
    margin-top: 60px;
    border-bottom: 4px solid #c86a40;

}


/* servis css start */

#servis{
    background-color: #17c2a4;
}

#servis h1{
    font-size: 40px;
    letter-spacing: 4px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Titillium Web";
    text-align: center;
    padding-top: 120px;
}

#servis hr{
    display: block;
    margin: 20px auto 20px auto;
    width: 87px;
    height: 4px;
    background-color: #14a58c;
    border: none;
}

#servis p{
    display: block;
    margin: auto;
    width: 600px;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Titillium Web";
    text-align: center;
}



.sekil div{
    display: inline-block;
    text-align: center;
    margin-top: 80px;
    margin-left: 50px;
}

.sekil p{
    width: 204px !important;
    height: 192px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Titillium Web";
    text-align: center;

}

.sekil h2{
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 18px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Titillium Web";
    margin-top: 60px;
    margin-bottom: 30px;
}

 /* team css start */

 #team{
    background-color:#e7f1f8;
}

#team h1{
    font-size: 41px;
    letter-spacing: 4px;
    line-height: 30px;
    color: #3c4761;
    font-weight: 700;
    font-family: "Titillium Web";
    text-align: center;
    padding-top: 120px;

}

#team hr{
    display: block;
    margin: 20px auto 20px auto;
    width: 87px;
    height: 4px;
    background-color: #c8d9e5;
    border: none;
}

#team p{
    display: block;
    margin: auto;
    width: 600px;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #3c4761;
    font-weight: 400;
    font-family: "Titillium Web";
    text-align: center;

}

.foto div{
    display: inline-block;
    text-align: center;
    margin-top: 80px;
    margin-left: 40px;
    margin-bottom: 120px;
   
}

.foto p{
    width: 204px !important;
    height: 192px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 300;
    font-family: var(--tit);
    text-align: center;

}

.foto h2{
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 18px;
    color: #27283d;
    font-weight: 700;
    font-family: var(--tit);
    margin-top: 60px;
    margin-bottom: 30px;
}

.foto img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  
}


/*   know css start  */ 


#know {
    background-color:#ffffff;
}

#know h1{
    font-size: 40px;
    letter-spacing: 4px;
    line-height: 30px;
    color: #3c4761;
    font-weight: 700;
    font-family: "Titillium Web";
    text-align: center;
    padding-top: 100px;
}

#know hr{
    display: block;
    margin: 20px auto 20px auto;
    width: 87px;
    height: 4px;
    background-color: #dfe8ed;
    border: none;
}

#know p{
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #3c4761;
    font-weight: 400;
    font-family: "Titillium Web";
    text-align: center;
}

.ikincifoto div{
    display: inline-block;
    text-align: center;
    margin-top: 80px;
    margin-left: 50px;
}

.ikincifoto h2{
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 18px;
    color: #3c4761;;
    font-weight: 700;
    font-family: "Titillium Web";
    margin-top: 60px;
    margin-bottom: 120px;
}
    

/*  portfolio css start */


#portfolio{
    background-color:#ffdd99;
    padding-bottom: 100px;
}

#portfolio h1{
    font-size: 40px;
    letter-spacing: 4px;
    line-height: 30px;
    color: #393939;
    font-weight: 700;
    font-family: "Titillium Web";
    text-align: center;
    padding-top: 120px;
}

#portfolio hr{
    display: block;
    margin: 20px auto 20px auto;
    width: 87px;
    height: 4px;
    background-color: #e5c37f;
    border: none;


}

#portfolio p{
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #393939;
    font-weight: 400;
    font-family: "Titillium Web";
    text-align: center;
    margin:auto;
}



#portfolio nav ul{
    text-align: center;
    margin-top: 5px;
}

#portfolio nav ul li{
    display: inline;
}

#portfolio nav ul li a{
    font: 400 16px var(--tit);
    line-height: 20px;
    letter-spacing: 0px;
    color: #393939;
    background-color: #ebc985;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 25px;
    padding: 10px 15px;
}

#portfolio nav{
    padding-top: 55px;
    padding-bottom: 60px;
   
}

 #portfolio nav .active,  nav ul li a:hover{
    background-color: #ffffff;
    border-radius: 4px;

}


#portfolio nav ul li a:hover{
    background-color: #ffffff;
    border-radius: 4px;

}


.notebooklar div{
    display: inline-block;
    text-align: center;
    margin-top: 40px;
    margin-left: 50px;
   
}

.notebooklar img{
    display: inline-block;
    width:430px;
    height: 300px;
    padding-left: 10px;
    padding-top: 50px;
    background-color:#ffdd99; 
    
}


.notebooklar h2{
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 18px;
    color: #3c4761;;
    font-weight: 700;
    font-family: "Titillium Web";
    margin-top: 10px;
    margin-bottom: 60px;
}

.btn2{
    display: block;
    margin: auto;
    font: 600 18px var(--tit);
    letter-spacing: 0px;
    line-height: 26px;
    color:var(--white);
    background-color: var(--lightblue);
    padding: 30px 80px;
    border: none;
    border-radius: 4px;

}





/*  test css start    */



#test{
    background-color: #d74680;

}

#test h1{
    font: 700 40px var(--tit);  
    letter-spacing: 4px;
    line-height: 30px;
    color:var(--white);
    text-align: center;
    padding-top:100px ;
}

#test hr{
    display:block;
    margin: 20px auto 20px auto;
    width: 87px;
    height: 4px;
    background-color: #b43b6b;
    border: none;

}

.paragraf1{
    font: 400 18px var(--tit) ;
    letter-spacing: 0px;
    line-height: 26px;
    color: #ffffff;
    text-align: center;
}
#test .ikincitest div{
    display: inline-block;
    text-align: center;
    margin: 40px 80px 40px 80px;
  
}

#test .ikincitest .ucuncutest div{
    float: left;
   
    
}

#test .ikincitest img{
    
    width: 100px;
    height: 100px;
    border-radius: 48px;
    background-color: #787878;
    
}
.ikincitest .paragraf2{
    width: 297px;
    height: 192px;
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 31px;
    color: #ffffff;
    font-weight: 400;
    font-style: italic;
    font-family: "Titillium Web";
}

#test .ikincitest h2{
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Titillium Web";
    padding-bottom: 20px;
}

#test .ikincitest .dorduncutest div{
    float: left;
   
}
 

/*  getin css start    */


#getin{
    background-color:#3c5499;
    padding-bottom: 50px;
}

#getin h1{
    font-size: 40px;
    letter-spacing: 4px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Titillium Web";
    text-align: center;
    padding-top:120px;
}

#getin hr{
    display: block;
    margin:20px auto 20px auto;
    width: 87px;
    height: 4px;
    background-color: #273a71;
    border: none;

}

#getin p{
    font: 400 18px var(--tit);
    letter-spacing: 0px;
    line-height: 26px;
    color: var(--white);
    text-align: center;
    margin-bottom: 20px;
 
}


#getin .for form .input12{
    
    display:block;
    text-align: center;
    

   
}

#getin .for form input{
    display:inline-block;
    width:225px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-color: #273a71;
    outline:none;
    margin: 20px 20px;
   
    
}




 #getin .for form textarea{
    display: block;
    width:500px;
    height: 200px;
    border-radius: 4px;
    border: none;
    background-color: #273a71;
    resize: vertical;
    outline:none;
    margin: auto;
  
   
 
 }

 #getin button{
    display: block;
    margin:50px auto 20px auto;
    font: 600 18px var(--tit);
    line-height: 26px;
    letter-spacing: 0px;
    width: 293px;
    height: 70px;
    border-radius: 4px;
    border: none;
    background-color: #30bae7;
    color:var(--white);
  
 }


 
 
 
 /*  sosialmedia css start   */

 #sosialmedia{
    
   
     height: 60px;
     background-color: #344b8e;
}

#sosialmedia .media ul{
    float: left;
    padding-top: 5px;
    
}  
#sosialmedia .media ul li{
    display: inline;
}
 
#sosialmedia .media ul li a{
    font: 400 16px var(--tit);
    line-height: 18px;
    color:var(--white);
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 25px;
    padding: 10px 15px;
    

}

#sosialmedia .media{
    padding-top: 20px;
    text-align: center;
}

#sosialmedia .media .active,#sosialmedia .media ul li a:hover{
    color: #12e7ee;
    border-radius: 4px;
}



